<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavigationMenuStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 navbar-container bg-light">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-md-9 col-lg-10 content-container" style="background-color: #ffe0b2">
                @RenderBody()
            </div>        
        </div>
    </div>      
</body>
</html>
